---
import { CacheHeaders } from 'cdn-cache-control';
import { Image } from '@unpic/astro';
import { marked } from 'marked';
import Layout from '../../layouts/default.astro';
import { getUserByUsername } from '../../util/clerk';
import { createImageUrl } from '../../util/cloudinary';
import { getPersonBySlug } from '../../util/sanity';
import EpisodePreview from '../../components/episode-preview.astro';

export const prerender = false;

const { username } = Astro.params;

// cache profile pages for a day unless the tag gets invalidated
const headers = new CacheHeaders()
	.swr()
	.ttl(86_400)
	.tag(['profile', `profile-${username}`]);

headers.forEach((value, key) => {
	Astro.response.headers.set(key, value);
});

const [clerkUser, person] = await Promise.all([
	getUserByUsername(username as string),
	getPersonBySlug({ slug: username as string }),
]);

if (!person) {
	throw new Error('no person with this username');
}

const imgUrl = person.photo?.public_id
	? createImageUrl(person.photo.public_id, {
			width: 800,
			aspect_ratio: 1,
			crop: 'thumb',
			gravity: 'face',
		})
	: (clerkUser?.imageUrl ??
		'https://res.cloudinary.com/jlengstorf/image/upload/f_auto/q_auto/w_150/v1732599682/lwj/v2/lwj-heart.png');

const subscription = clerkUser?.publicMetadata.stripe ?? {
	status: 'inactive',
	level: 'none',
};
const isSubscriber = subscription?.status === 'active';

const bio = marked.parse(person.bio ?? '');
---

<Layout title={`${person.name}’s profile on CodeTV`}>
	<div class="wrapper">
		<div class="profile-photo">
			<Image
				src={imgUrl}
				alt={person.name}
				priority={true}
				width={800}
				height={800}
			/>
		</div>
		<div class="details">
			<h1>
				{person.name} (@{username})
			</h1>
			{isSubscriber ? <p class="level">{subscription.level}</p> : null}

			{
				person.links && person.links?.length > 0 ? (
					<nav class="links">
						<span>Links:</span>
						{person.links.map((link) => (
							<a href={link.url}>{link.label}</a>
						))}
					</nav>
				) : null
			}

			<div class="bio" set:html={bio} />

			{
				person.episodes.length > 0 ? (
					<section class="related-episodes">
						<h2>Episodes featuring {person.name}</h2>

						<div class="more-episodes">
							{person.episodes.map((related) => {
								const epIndex =
									related.collection?.episodeSlugs?.findIndex(
										(slug) => slug === related.slug,
									) ?? 0;
								const epNumber = epIndex + 1;

								return (
									<EpisodePreview
										class="compact"
										episode={related}
										episodeNumber={`${related.collection?.slug}E${epNumber}`.toUpperCase()}
										episodeUrl={`/series/${related.series?.slug}/${related.collection?.slug}/${related.slug}`}
									/>
								);
							})}
						</div>
					</section>
				) : null
			}
		</div>
	</div>
</Layout>

<style>
	.wrapper {
		padding: 1rem 5cqw 4rem;

		@media (min-width: 750px) {
			display: flex;
			gap: 3rem;
		}
	}

	.profile-photo {
		block-size: auto;
		inline-size: 400px;
		max-inline-size: 100%;

		img {
			border-radius: 0.125rem;
		}
	}

	.details {
		& h1 {
			font-size: 1.5rem;
			font-weight: 500;
			line-height: 1.1;
			margin-block: 0.25rem 0.5rem;
		}

		& p {
			font-size: 0.75rem;
			line-height: 1.25;
		}
	}

	.links {
		align-items: center;
		display: flex;
		font-size: 0.75rem;
		gap: 1rem;
		justify-conent: end;
		margin-block-start: 1rem;
	}

	.bio {
		margin-block: 1rem 2rem;
		max-inline-size: 54ch;

		p {
			font-size: 0.75rem;

			+ p {
				margin-block-start: 0.75rem;
			}
		}
	}

	h2 {
		font-size: 0.875rem;
		font-weight: 400;
		line-height: 1.1;
		margin-block: 1.5rem 0.5rem;
	}

	.level {
		background: color-mix(in oklch, var(--green-500) 15%, transparent);
		border: 0.5px solid var(--green-500);
		border-radius: 0.125rem;
		inline-size: max-content;
		padding-inline: 0.25rem;
	}

	.more-episodes {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		margin-block-start: 0.25rem;
	}
</style>
