---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/default.astro';

export const prerender = true;

const blogs = await getCollection('blog', ({ data }) => {
	if (data.draft === true) {
		return false;
	}

	return import.meta.env.DEV === true || new Date(data.pubDate) < new Date();
});
---

<Layout title="Blog — CodeTV">
	<div class="wrapper">
		<!-- <PageHeader
			heading="Blog Posts"
			lede="Tutorials, quick tips, and other helpful resources for learning more about code!"
		/> -->
		<section class="block post-previews">
			{
				blogs
					.sort(
						(a, b) =>
							new Date(b.data.pubDate).valueOf() -
							new Date(a.data.pubDate).valueOf(),
					)
					.map((blog) => {
						const url = `/blog/${blog.slug}`;
						const img =
							blog.data.share?.image?.replace(
								'f_auto',
								'f_auto,w_600,ar_16:9,c_fill',
							) ?? false;
						return (
							<article class="post-preview">
								{img ? (
									<div class="image">
										<a href={url}>
											<img
												src={img}
												alt={blog.data.share?.title ?? blog.data.title}
												width="200"
												height="112"
												loading="lazy"
											/>
										</a>
									</div>
								) : null}
								<div class="details">
									<h2>
										<a href={url}>{blog.data.title}</a>
									</h2>
									<p>{blog.data.description}</p>
									<a href={url} class="read-more">
										read this post &rarr;
									</a>
								</div>
							</article>
						);
					})
			}
		</section>
	</div>
</Layout>

<style>
	.wrapper {
		padding: 5rem max(5dvi, calc((100% - 700px) / 2));
	}

	.post-preview {
		max-width: 700px;
		width: 100%;
	}

	.post-preview:not(:first-of-type) {
		margin-top: 3rem;
	}

	.image {
		display: none;
	}

	@media (min-width: 700px) {
		.post-preview:has(.image) {
			display: grid;
			gap: 1.5rem;
			grid-template-columns: 200px 1fr;
		}

		.image {
			display: block;
		}

		.image img {
			aspect-ratio: 16 / 9;
			height: auto;
			width: 100%;
		}
	}

	.details h2 {
		font-size: 1.25rem;
		line-height: 1.1;
		margin: 0;
		padding: 0;
		text-align: left;
	}

	.post-preview h2 a {
		color: inherit;
		text-decoration: none;
	}

	.post-preview p {
		margin: 0.375rem 0 0.5rem;
	}

	.post-preview .read-more {
		align-items: center;
		color: var(--purple-600);
		display: flex;
		font-size: 0.625rem;
		font-weight: 600;
		gap: 0.25rem;
		justify-content: flex-end;
		letter-spacing: 0.2em;
		text-align: right;
		text-transform: uppercase;
		text-decoration: none;
	}
</style>
