---
import Figure from './figure.astro';

export interface Props {
	slug: string;
	title: string;
	height?: number;
	caption?: string;
}

const { slug, title, height = 400, caption = '' } = Astro.props;
---

<Figure caption={caption}>
	<p
		class="codepen"
		data-height={height}
		data-default-tab="result"
		data-slug-hash={slug}
		data-user="jlengstorf"
		style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;"
	>
		<span>
			See the Pen{' '}
			<a href={`https://codepen.io/jlengstorf/pen/${slug}`}>
				{title}
			</a>{' '}by Jason Lengstorf (<a href="https://codepen.io/jlengstorf"
				>@jlengstorf</a
			>) on{' '}
			<a href="https://codepen.io">CodePen</a>.
		</span>
	</p>
</Figure>
