---
import Eyebrow from '../components/eyebrow.astro';
import Logo from '../components/logo.astro';
import Footer from '../components/footer.astro';
import UserButton from '../components/user-button.astro';
import '../styles/global.css';

const nav = [
	{ path: '/watch', label: 'Watch' },
	// { path: '#upcoming', label: 'Upcoming' },
	{ path: '/blog', label: 'Blog' },
	{ path: '/newsletter', label: 'Newsletter' },
	{ path: '/support', label: 'Support' },
	{ path: 'https://partners.lwj.dev', label: 'Partners' },
];

export interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const {
	title = 'CodeTV',
	description = 'tv for developers',
	image = 'https://res.cloudinary.com/jlengstorf/image/upload/f_auto/q_auto/v1738215362/codetv/codetv-default-cover.png',
} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="shortcut icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="manifest" href="/site.webmanifest" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

		<slot name="head">
			<meta name="description" content={description} />
			<meta name="image" content={image} />

			<meta property="og:type" content="website" />
			<meta property="og:title" content={title} />
			<meta property="og:site_name" content="CodeTV" />
			<meta property="og:description" content={description} />
			<meta property="og:url" content={Astro.url} />

			<meta property="og:image" content={image} />
			<meta property="og:image:width" content="1600" />
			<meta property="og:image:height" content="900" />
			<meta
				property="og:image:alt"
				content={`Bold, pixelated text reading "We make stuff developers actually want to watch" over a dimmed background image of code on a monitor. There's a hand-drawn heart in the bottom-right corner.`}
			/>

			<meta name="twitter:dnt" content="on" />
			<meta name="twitter:card" content="summary_large_image" />
			<meta name="twitter:description" content={description} />
			<meta name="twitter:image" content={image} />
			<meta name="twitter:creator" content="@codetv_dev" />
		</slot>

		<script src="https://cdn.usefathom.com/script.js" data-site="FEWJBQRA" defer
		></script>
	</head>
	<body>
		<header>
			<Eyebrow />
			<div>
				<a href="/" rel="home" class="logo">
					<Logo />
				</a>

				<button class="nav-toggle" popovertarget="menu"> menu </button>

				<div class="nav-group" id="menu" popover>
					<div class="account">
						<UserButton server:defer>
							<a slot="fallback" href="#loading">
								loading... <div class="placeholder-img"></div>
							</a>
						</UserButton>
					</div>

					<nav>
						{nav.map(({ path, label }) => <a href={path}>{label}</a>)}

						<a
							href="#search"
							class="open-search"
							title="open site search"
							data-name="nav-search"
						>
							<svg viewBox="0 0 20 20">
								<path
									fill="none"
									fill-rule="evenodd"
									stroke="currentColor"
									stroke-width="2"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M14.386 14.386l4.088 4.088-4.088-4.088A7.533 7.533 0 113.733 3.733a7.533 7.533 0 0110.653 10.653z"
								></path>
							</svg>
							⌘+K
						</a>
					</nav>
				</div>
			</div>
		</header>

		<slot />

		<Footer />

		<svg
			viewBox="0 0 109 28"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
			class="logo-def"
		>
			<defs>
				<g id="codetv-logo">
					<path
						d="M17 10h-5V8h-1V7H6v1H5v9h1v1h5v-1h1v-2h5v4h-1v2h-1v1h-2v1H4v-1H2v-1H1v-2H0V6h1V4h1V3h2V2h9v1h2v1h1v2h1v4Z"
					></path>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M24 2h9v1h2v1h1v2h1v13h-1v2h-1v1h-2v1h-9v-1h-2v-1h-1v-2h-1V6h1V4h1V3h2V2Zm2 6V7h5v1h1v9h-1v1h-5v-1h-1V8h1ZM40 23V2h12v1h2v1h1v2h1v13h-1v2h-1v1h-2v1H40ZM50 7h-5v11h5v-1h1V8h-1V7Z"
					></path>
					<path d="M59 2v21h16v-5H64v-3h9v-5h-9V7h11V2H59Z"></path>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M82 0h20v1h2v1h1v2h1v17h-1v2h-1v1h-2v1H82v-1h-2v-1h-1v-2h-1V4h1V2h1V1h2V0Zm-1 11V7h10v4h-3v8h-4v-8h-3Zm11 4V7h4v6h1v1h1v-1h1V7h4v8h-1v1h-1v1h-1v1h-1v1h-3v-1h-1v-1h-1v-1h-1v-1h-1Z"
					></path>
				</g>
			</defs>
		</svg>
	</body>
</html>

<script>
	const navSearchBtn = document.querySelector('[data-name="nav-search"]');

	navSearchBtn?.addEventListener('click', (event) => {
		event.preventDefault();

		const search = document.querySelector(
			'[data-name="main-search"]',
		) as HTMLButtonElement;

		(
			document.querySelector('#menu:popover-open') as HTMLElement
		)?.hidePopover();
		search.click();
	});
</script>

<style>
	/* When the nav popover is visible:
		1. Disable anchor tags from being targets of pointer events to prevent clicking links under the popover
		2. Ensure that the anchor tags in the nav popover menu still are clickable
	*/
	html:has(#menu:popover-open) {
		/* This prevents background scrolling when the nav menu popover is visible. */
		overflow: hidden;

		/* When the nav popover is visible:
			1. Disable anchor tags from being targets of pointer events to prevent clicking links under the popover
			2. Ensure that the anchor tags in the nav popover menu still are clickable
		*/
		a:not(#menu a) {
			pointer-events: none;
		}
	}

	/* This allows the header and nav menu popover to be full screen height when the popover is visible. */
	header:has(#menu:popover-open) {
		position: fixed;
		min-height: 100%;
		top: 0;
		& .nav-group {
			position: fixed;
			min-height: 100%;
			top: 0;
		}
	}

	header {
		inset-block-start: 0;
		margin: 0;

		/* how much will I regret this? */
		pointer-events: none;
		position: sticky;
		z-index: 100;

		&::after {
			background: linear-gradient(to bottom, var(--white), transparent);
			content: '';
			position: fixed;
			block-size: 0.5rem;
			inset-block-start: 0;
			inset-inline: 0;
			display: block;
			z-index: 1;
		}

		aside {
			position: relative;
			z-index: 2;
		}

		> div {
			align-items: center;
			backdrop-filter: blur(2rem) saturate(120%);
			background: color-mix(in oklch, var(--gray-900) 70%, transparent);
			display: grid;
			gap: 0.5rem;
			grid-template-areas:
				'logo account'
				'nav nav';
			justify-content: space-between;
			position: relative;
			z-index: 10;

			@media (min-width: 1080px) {
				grid-template-areas: 'logo nav';
			}

			/*
			 * Linear-style glass optical effect, credited to Jamie Gray by Artur Bién
			 * @see https://twitter.com/artur_bien/status/1707130118391370234
			 */
			margin-block-end: -100px;
			mask-image: linear-gradient(
				to bottom,
				black 0,
				black calc(100% - 100px),
				transparent calc(100% - 100px),
				transparent
			);
			padding: 0 max((100dvi - 1080px) / 2, 5dvi) 100px;

			.logo {
				grid-area: logo;
				pointer-events: all;

				svg {
					aspect-ratio: 109 / 28;
					block-size: auto;
					display: block;
					inline-size: min(250px, 30dvi);
				}
			}

			.nav-toggle {
				align-self: center;
				background: color-mix(in oklch, var(--gray-400) 60%, transparent);
				border: 1px solid color-mix(in oklch, var(--white) 15%, transparent);
				border-radius: 1.5rem;
				box-shadow: 0 1px 2px
					color-mix(in oklch, var(--gray-500) 80%, transparent);
				color: var(--white);
				font-size: 0.875rem;
				font-weight: 600;
				justify-self: center;
				letter-spacing: 0.1em;
				line-height: 1.75;
				padding: 0.5rem 1.625rem;
				pointer-events: all;
				text-transform: uppercase;

				@media (min-width: 1080px) {
					display: none;
				}
			}

			.nav-group {
				background: none;
				block-size: 90dvb;
				border: none;
				inline-size: 100dvi;
				position: absolute;
				inset: 10dvb 0 0;

				@media (min-width: 1080px) {
					block-size: auto;
					display: flex;
					flex-direction: column;
					grid-area: nav;
					inline-size: auto;
					inset: unset;
					position: static;
				}
			}

			#menu:popover-open {
				align-items: center;
				backdrop-filter: blur(2rem);
				background: color-mix(in oklch, var(--gray-400) 60%, transparent);
				border: none;
				display: flex;
				flex-direction: column-reverse;
				gap: 0.5rem;
				grid-area: nav;
				justify-content: center;
				padding: 2rem;

				.account {
					align-self: center;
				}

				nav {
					background: none;
					backdrop-filter: none;
					border: none;
					box-shadow: none;
					flex-direction: column;
				}
			}

			.account {
				align-self: end;
				display: flex;
				gap: 1rem;
				grid-area: account;

				a {
					align-items: center;
					color: var(--white);
					display: flex;
					font-size: 0.625rem;
					gap: 0.5rem;
					inline-size: max-content;
					letter-spacing: 0.1em;
					margin-inline-start: auto;
					padding: 0.5rem 1.625rem;
					pointer-events: all;
					text-decoration: none;
					text-shadow: 0 1px 2px
						color-mix(in oklch, var(--gray-500) 80%, transparent);
					text-transform: lowercase;
				}

				.placeholder-img,
				img {
					aspect-ratio: 1;
					background: var(--text-muted);
					block-size: auto;
					border: 1px solid var(--black);
					border-radius: 50%;
					display: inline-block;
					inline-size: 1.625rem;
					object-fit: cover;
				}
			}

			nav {
				align-items: baseline;
				color: var(--white);
				display: flex;
				flex-wrap: wrap;
				font-size: 0.75rem;
				font-weight: 500;
				gap: 1rem 1.5rem;
				inline-size: min(max-content, 90dvi);
				justify-content: center;
				letter-spacing: 0.1em;

				@media (min-width: 1080px) {
					gap: 0.5rem;
					inline-size: max-content;
					justify-content: start;
					padding: 0 1.625rem;
				}

				a {
					block-size: 100%;
					color: var(--white);
					display: block;
					line-height: 1.1;
					padding: 0.875rem 0.5rem;
					pointer-events: all;
					text-decoration: none;
				}

				.open-search {
					align-items: baseline;
					background: var(--white);
					border-radius: 1rem;
					color: var(--text-muted);
					display: flex;
					gap: 0.375rem;
					font-size: 0.875rem;
					margin-inline-start: 0.75rem;
					padding: 0.25rem 1rem;

					svg {
						display: block;
						inline-size: 0.875rem;
						position: relative;
						inset-block-start: 0.1rem;
					}
				}
			}
		}
	}

	.logo-def {
		display: none;

		path {
			mix-blend-mode: screen;
		}
	}
</style>
